@charset "UTF-8";

body{
    background-color: burlywood;
}

body main{
    background-color: lightcoral;
}

header > nav{
    flex-flow: column;

}

header{
    flex-flow: column nowrap;
}

header h1{
    flex-basis: 50px;
}

header nav a{
    width: 90vw;
}