@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: darkgrey;
    height: 100vh;
    width: 100vw;

}

header{
    background-color: tomato;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
}

header h1{
    border: 1px dotted black;
    padding: 10px;

}

header nav{
    border: 1px dotted navy;
}

header > nav > a {
    background-color: gray;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover{
    background-color: white;
    color: orangered;
    transition: background-color 0.5s;
}

main{
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
}
