@charset "UTF-8";
/*
*Estilo Mobile First
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100vw;
    height: 100vh;
}

body{
    text-align: center;
    background: url(../imagens/background/phone.jpg);
    color: #f8f8ff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

main{
    background-color: #a99a861c;
    width: 75%;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    margin-top: 25px;
}

img#phone{
    display: inline-block;
}

img#tablet{
    display: none;
}

img#print{
    display: none;
}

img#pc{
    display: none;
}

img#tv{
    display: none;
}