@charset "UTF-8";

/* Estilos para dispositivos no modo paisagem*/

body {
    background-image: url(../imagens/spongebob-fish-thumbs-up-meme-desktop-wallpaper-4k.jpg);
    background-color: #299BDA;
    background-position: left bottom;
}