@charset "UTF-8";

/* Estilos para dispositivos no modo retrato */

body {
    background-image: url(../imagens/spongebob-fish-toilet-screaming-comedy-wallpaper.jpg);
    background-color: #7BD3DD;
    background-position: center bottom;
}
img {
    width: 90%;
    height: auto;
}