
.container {
    background-color: darkgrey;
    display: grid;
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

}

.item01 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: -1;

    background-color: blue ;
}

.item02 {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: red ;
}

.item03 {
    grid-row-start: 2;
    grid-row-end: -2;
    grid-column-start: -2;
    grid-column-end: -1;

    background-color: green ;
}

.item04 {
    grid-row-start: 2;
    grid-row-end: -2;
    grid-column-start: 2;
    grid-column-end: -2;
    background-color: orange ;
}

.item05 {
    grid-row-start: -2;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: -1;

    background-color: purple ;
}

.item06 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
   
    background-color: yellow ;
    
}